openapi: 3.1.0
info:
  title: Pong API
  description: |
    Pong is a health monitoring API that lets you track uptime, latency, and
    availability of your services. Create monitors for HTTP endpoints, SSL
    certificates, heartbeat checks, keyword presence, and port
    availability. Configure alert contacts to get notified when things go wrong,
    and publish public status pages so your users stay informed.

    ## Authentication

    All endpoints under `/api/v1/` require authentication via one of:

    - **Auth0 JWT** — RS256 Bearer token issued by Auth0 (used by the web app)
    - **API Key** — Long-lived key in the format `pong_<hex>` (used for scripts and CI/CD)

    Both are passed as `Authorization: Bearer <token>`.

    API keys can be created and managed via the `/api/v1/api-keys` endpoints.
    The raw key is only shown once at creation time.

    Public endpoints such as heartbeat pings and status pages do not require
    authentication.
  version: 1.0.0

servers:
  - url: https://api.getpong.dev
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Health
    description: Service health checks
  - name: Monitors
    description: Create and manage uptime monitors
  - name: Alert Contacts
    description: Manage notification channels for alerts
  - name: Status Pages
    description: Public and private status pages
  - name: API Keys
    description: Create and manage long-lived API keys
  - name: Heartbeat
    description: Public heartbeat ping endpoints (no auth required)
  - name: Admin
    description: Admin-only endpoints for platform management

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Auth0 RS256 JSON Web Token

  schemas:
    Monitor:
      type: object
      description: A monitor that periodically checks the health of a target.
      required:
        - id
        - user_id
        - name
        - type
        - target
        - interval_secs
        - timeout_secs
        - confirmation_count
        - consecutive_fails
        - enabled
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: integer
          description: Unique monitor identifier.
          example: 42
        user_id:
          type: integer
          description: ID of the user who owns this monitor.
          example: 1
        name:
          type: string
          description: Human-readable name for the monitor.
          example: "Production API"
        type:
          type: string
          enum: [http, ssl, heartbeat, keyword, port, dns]
          description: The kind of check this monitor performs.
          example: "http"
        target:
          type: string
          description: URL, hostname, or address to monitor.
          example: "https://api.example.com/healthz"
        interval_secs:
          type: integer
          description: Seconds between checks.
          example: 300
        timeout_secs:
          type: integer
          description: Seconds before a check is considered timed out.
          example: 5
        protocol:
          type: string
          enum: [tcp, udp]
          description: Network protocol for port monitors.
          default: tcp
          example: "tcp"
        keyword:
          type: string
          nullable: true
          description: Keyword to search for in the response body (keyword monitors only).
          example: "ok"
        keyword_type:
          type: string
          nullable: true
          enum: [contains, not_contains]
          description: Whether the keyword should or should not appear in the response.
          example: "contains"
        keyword_match:
          type: string
          nullable: true
          enum: [exact, regex]
          description: Match mode for keyword checks. "exact" for plain string, "regex" for regular expression.
          default: exact
          example: "exact"
        expected_status:
          type: integer
          nullable: true
          description: Expected HTTP status code (HTTP monitors).
          example: 200
        latency_warn_ms:
          type: integer
          nullable: true
          description: Latency threshold in milliseconds that triggers a warning.
          example: 1000
        confirmation_count:
          type: integer
          description: Number of consecutive failures required before marking the monitor as down.
          example: 1
        consecutive_fails:
          type: integer
          description: Current count of consecutive check failures.
          example: 0
        heartbeat_token:
          type: string
          nullable: true
          description: Unique token for heartbeat monitors. Generated by the backend.
          example: "hb_a1b2c3d4e5f6"
        heartbeat_last_ping:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the last heartbeat ping received.
          example: "2026-03-29T10:15:00Z"
        heartbeat_secret:
          type: string
          nullable: true
          description: Optional secret for heartbeat monitors. If set, pings must include the X-Secret header with this value.
          example: "a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5"
        ssl_warn_days:
          type: integer
          nullable: true
          description: Number of days before SSL expiry to trigger a warning.
          example: 30
        ssl_expiry_at:
          type: string
          format: date-time
          nullable: true
          description: SSL certificate expiry timestamp.
          example: "2026-12-01T00:00:00Z"
        enabled:
          type: boolean
          description: Whether the monitor is actively running checks.
          example: true
        status:
          type: string
          enum: [up, down, unknown]
          description: Current status of the monitored target.
          example: "up"
        last_checked_at:
          type: string
          format: date-time
          nullable: true
          description: Timestamp of the most recent check.
          example: "2026-03-29T12:00:00Z"
        created_at:
          type: string
          format: date-time
          description: When the monitor was created.
          example: "2026-01-15T08:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: When the monitor was last updated.
          example: "2026-03-29T12:00:00Z"
        alert_contact_ids:
          type: array
          nullable: true
          items:
            type: integer
          description: IDs of alert contacts to notify when the monitor changes state.
          example: [1, 3]
        http_auth_type:
          type: string
          enum: [none, basic, header]
          description: Type of HTTP authentication configured on this monitor.
          example: "none"
        http_auth_configured:
          type: boolean
          description: Whether HTTP authentication credentials are configured. Credentials are never returned in responses.
          example: false
        dns_record_type:
          type: string
          nullable: true
          enum: [A, AAAA, MX, TXT, CNAME, NS]
          description: DNS record type to resolve (DNS monitors only).
          example: "A"
        dns_expected_value:
          type: string
          nullable: true
          description: Optional case-insensitive substring that must appear in at least one returned DNS record.
          example: "93.184.216.34"
        dns_resolver:
          type: string
          nullable: true
          description: Optional custom DNS resolver (e.g. "1.1.1.1" or "8.8.8.8:53"). Defaults to the system resolver.
          example: "1.1.1.1"

    MonitorCreate:
      type: object
      description: Request body for creating a new monitor.
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Human-readable name for the monitor.
          example: "Production API"
        type:
          type: string
          enum: [http, ssl, heartbeat, keyword, port, dns]
          description: The kind of check this monitor performs.
          example: "http"
        target:
          type: string
          description: URL, hostname, or address to monitor. Not required for heartbeat monitors.
          example: "https://api.example.com/healthz"
        interval_secs:
          type: integer
          description: Seconds between checks.
          default: 300
          example: 300
        timeout_secs:
          type: integer
          description: Seconds before a check is considered timed out.
          default: 5
          example: 5
        keyword:
          type: string
          description: Keyword to search for (keyword monitors only).
          example: "ok"
        keyword_type:
          type: string
          enum: [contains, not_contains]
          description: Whether the keyword should or should not appear.
          example: "contains"
        keyword_match:
          type: string
          enum: [exact, regex]
          description: Match mode for keyword checks. "exact" for plain string, "regex" for regular expression.
          default: exact
          example: "exact"
        expected_status:
          type: integer
          description: Expected HTTP status code.
          default: 200
          example: 200
        latency_warn_ms:
          type: integer
          description: Latency warning threshold in milliseconds.
          example: 1000
        confirmation_count:
          type: integer
          description: Consecutive failures required before marking as down.
          default: 1
          example: 1
        ssl_warn_days:
          type: integer
          description: Days before SSL expiry to warn.
          default: 30
          example: 30
        heartbeat_secret:
          type: string
          description: Optional secret for heartbeat monitors. If set, pings must include the X-Secret header with this value.
          example: "a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5"
        protocol:
          type: string
          enum: [tcp, udp]
          description: Network protocol for port monitors.
          default: tcp
          example: "tcp"
        http_auth_type:
          type: string
          enum: [none, basic, header]
          description: Type of HTTP authentication. Requires ENCRYPTION_KEY to be configured.
          example: "basic"
        http_auth_username:
          type: string
          description: Username for Basic Auth (required when http_auth_type is "basic").
          example: "admin"
        http_auth_password:
          type: string
          description: Password for Basic Auth (required when http_auth_type is "basic").
          example: "secret123"
        http_auth_header:
          type: string
          description: Header name for custom header auth (required when http_auth_type is "header").
          example: "X-API-Key"
        http_auth_value:
          type: string
          description: Header value for custom header auth (required when http_auth_type is "header").
          example: "my-api-key"
        dns_record_type:
          type: string
          enum: [A, AAAA, MX, TXT, CNAME, NS]
          description: DNS record type (DNS monitors only). Defaults to A.
          example: "A"
        dns_expected_value:
          type: string
          description: Optional case-insensitive substring expected in at least one DNS record.
          example: "93.184.216.34"
        dns_resolver:
          type: string
          description: Optional custom DNS resolver (e.g. "1.1.1.1"). Defaults to the system resolver.
          example: "1.1.1.1"
        alert_contact_ids:
          type: array
          items:
            type: integer
          description: IDs of alert contacts to attach.
          example: [1, 3]

    MonitorUpdate:
      type: object
      description: Request body for updating an existing monitor. All fields are optional.
      properties:
        name:
          type: string
          description: Human-readable name for the monitor.
          example: "Staging API"
        type:
          type: string
          enum: [http, ssl, heartbeat, keyword, port, dns]
          description: The kind of check this monitor performs.
          example: "http"
        target:
          type: string
          description: URL, hostname, or address to monitor.
          example: "https://staging.example.com/healthz"
        interval_secs:
          type: integer
          description: Seconds between checks.
          example: 60
        timeout_secs:
          type: integer
          description: Seconds before a check is considered timed out.
          example: 10
        keyword:
          type: string
          description: Keyword to search for (keyword monitors only).
          example: "healthy"
        keyword_type:
          type: string
          enum: [contains, not_contains]
          description: Whether the keyword should or should not appear.
          example: "contains"
        keyword_match:
          type: string
          enum: [exact, regex]
          description: Match mode for keyword checks. "exact" for plain string, "regex" for regular expression.
          example: "exact"
        expected_status:
          type: integer
          description: Expected HTTP status code.
          example: 200
        latency_warn_ms:
          type: integer
          description: Latency warning threshold in milliseconds.
          example: 500
        confirmation_count:
          type: integer
          description: Consecutive failures required before marking as down.
          example: 3
        ssl_warn_days:
          type: integer
          description: Days before SSL expiry to warn.
          example: 14
        heartbeat_secret:
          type: string
          description: Optional secret for heartbeat monitors. If set, pings must include the X-Secret header with this value.
          example: "a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5"
        protocol:
          type: string
          enum: [tcp, udp]
          description: Network protocol for port monitors.
          example: "tcp"
        http_auth_type:
          type: string
          enum: [none, basic, header]
          description: Type of HTTP authentication. Set to "none" to clear existing credentials.
          example: "none"
        http_auth_username:
          type: string
          description: Username for Basic Auth.
          example: "admin"
        http_auth_password:
          type: string
          description: Password for Basic Auth.
          example: "secret123"
        http_auth_header:
          type: string
          description: Header name for custom header auth.
          example: "X-API-Key"
        http_auth_value:
          type: string
          description: Header value for custom header auth.
          example: "my-api-key"
        dns_record_type:
          type: string
          enum: [A, AAAA, MX, TXT, CNAME, NS]
          description: DNS record type (DNS monitors only).
          example: "AAAA"
        dns_expected_value:
          type: string
          description: Optional case-insensitive substring expected in DNS records.
          example: "2606:2800"
        dns_resolver:
          type: string
          description: Optional custom DNS resolver. Empty string clears it.
          example: "8.8.8.8"
        alert_contact_ids:
          type: array
          items:
            type: integer
          description: IDs of alert contacts to attach.
          example: [2]

    CheckResult:
      type: object
      description: The result of a single monitor check.
      required:
        - id
        - monitor_id
        - status
        - latency_ms
        - region
        - checked_at
      properties:
        id:
          type: integer
          description: Unique check result identifier.
          example: 98765
        monitor_id:
          type: integer
          description: ID of the monitor this result belongs to.
          example: 42
        status:
          type: string
          enum: [up, down]
          description: Result of the check.
          example: "up"
        latency_ms:
          type: integer
          description: Response latency in milliseconds.
          example: 132
        status_code:
          type: integer
          nullable: true
          description: HTTP status code returned (if applicable).
          example: 200
        message:
          type: string
          nullable: true
          description: Additional details or error message.
          example: "OK"
        region:
          type: string
          description: Geographic region from which the check was performed.
          example: "eu-west-1"
        checked_at:
          type: string
          format: date-time
          description: When the check was executed.
          example: "2026-03-29T12:00:00Z"

    AlertContact:
      type: object
      description: A contact channel for receiving alerts.
      required:
        - id
        - user_id
        - type
        - value
        - name
        - created_at
      properties:
        id:
          type: integer
          description: Unique alert contact identifier.
          example: 1
        user_id:
          type: integer
          description: ID of the user who owns this contact.
          example: 1
        type:
          type: string
          enum: [email, slack, webhook]
          description: Notification channel type.
          example: "email"
        value:
          type: string
          description: Channel address (email, Slack webhook URL, or webhook URL).
          example: "ops@example.com"
        name:
          type: string
          description: Human-readable label for this contact.
          example: "Ops Team Email"
        verified:
          type: boolean
          description: Whether the contact has been verified. Email contacts require verification before receiving alerts. Slack and webhook contacts are verified automatically.
          example: true
        created_at:
          type: string
          format: date-time
          description: When the contact was created.
          example: "2026-01-10T09:00:00Z"

    AlertContactCreate:
      type: object
      description: Request body for creating a new alert contact.
      required:
        - name
        - type
        - value
      properties:
        name:
          type: string
          description: Human-readable label.
          example: "Ops Team Email"
        type:
          type: string
          enum: [email, slack, webhook]
          description: Notification channel type.
          example: "email"
        value:
          type: string
          description: Channel address.
          example: "ops@example.com"

    AlertContactUpdate:
      type: object
      description: Request body for updating an alert contact. All fields are optional.
      properties:
        name:
          type: string
          description: Human-readable label.
          example: "Engineering Slack"
        type:
          type: string
          enum: [email, slack, webhook]
          description: Notification channel type.
          example: "slack"
        value:
          type: string
          description: Channel address.
          example: "https://hooks.slack.com/services/T00/B00/xxx"

    StatusPage:
      type: object
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 1
        name:
          type: string
          example: "Production Status"
        token:
          type: string
          description: Unguessable token used as the public URL path.
          example: "a8f3b2c1d4e5f6a7b8c9d0e1f2a3b4c5"
        description:
          type: string
          example: "Status page for production services"
        has_password:
          type: boolean
          description: Whether the page requires a password to view.
          example: false
        created_at:
          type: string
          format: date-time
          example: "2026-03-29T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2026-03-29T10:00:00Z"
        monitor_ids:
          type: array
          items:
            type: integer
          example: [1, 2, 3]

    StatusPageCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: "Production Status"
        description:
          type: string
          example: "Status page for production services"
        password:
          type: string
          description: Optional password to protect the page. Omit or leave empty for no password.
          example: "s3cret"
        monitor_ids:
          type: array
          items:
            type: integer
          example: [1, 2, 3]

    StatusPageUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        password:
          type: string
          description: Set a new password, send empty string to remove password, omit to keep unchanged.
        monitor_ids:
          type: array
          items:
            type: integer

    DailyUptime:
      type: object
      description: Uptime data for a single day.
      required:
        - date
        - percentage
        - total_checks
      properties:
        date:
          type: string
          format: date
          description: The date (YYYY-MM-DD).
          example: "2026-03-28"
        percentage:
          type: number
          format: double
          description: Uptime percentage for the day (0-100).
          example: 99.95
        total_checks:
          type: integer
          description: Total number of checks performed that day.
          example: 288

    APIKey:
      type: object
      properties:
        id:
          type: integer
          example: 1
        user_id:
          type: integer
          example: 1
        name:
          type: string
          example: "CI Pipeline"
        prefix:
          type: string
          description: First 8 characters of the key, used for identification.
          example: "pong_a3f"
        last_used_at:
          type: string
          format: date-time
          nullable: true
          example: "2026-03-29T12:00:00Z"
        created_at:
          type: string
          format: date-time
          example: "2026-03-29T10:00:00Z"

    APIKeyCreated:
      description: Returned only once at creation time. The raw key is never stored or retrievable again.
      allOf:
        - $ref: "#/components/schemas/APIKey"
        - type: object
          properties:
            key:
              type: string
              description: The raw API key. Copy it now — it will not be shown again.
              example: "pong_a3f8b2c1d4e5f6a7b8c9d0e1f2a3b4c5"

    Error:
      type: object
      description: Error response returned when a request fails.
      required:
        - error
      properties:
        error:
          type: string
          description: A human-readable error message.
          example: "monitor not found"

  parameters:
    MonitorId:
      name: id
      in: path
      required: true
      description: Unique monitor identifier.
      schema:
        type: integer
        example: 42

    AlertContactId:
      name: id
      in: path
      required: true
      description: Unique alert contact identifier.
      schema:
        type: integer
        example: 1

    StatusPageId:
      name: id
      in: path
      required: true
      description: Unique status page identifier.
      schema:
        type: integer
        example: 5

    HeartbeatToken:
      name: token
      in: path
      required: true
      description: Unique heartbeat token assigned to a heartbeat monitor.
      schema:
        type: string
        example: "hb_a1b2c3d4e5f6"

    StatusPageToken:
      name: token
      in: path
      required: true
      description: Unguessable token identifying the status page.
      schema:
        type: string
        example: "a8f3b2c1d4e5f6a7b8c9d0e1f2a3b4c5"

    APIKeyId:
      name: id
      in: path
      required: true
      description: Unique identifier of the API key.
      schema:
        type: integer
        example: 1

  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "unauthorized"

    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "not found"

    BadRequest:
      description: The request body is invalid or missing required fields.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "invalid request body"

paths:
  # ---------- Health ----------
  /healthz:
    get:
      operationId: getHealth
      tags: [Health]
      summary: Service health check
      description: Returns the health status of the API. This endpoint does not require authentication.
      security: []
      responses:
        "200":
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    example: "ok"

  # ---------- Monitors ----------
  /api/v1/monitors:
    get:
      operationId: listMonitors
      tags: [Monitors]
      summary: List monitors
      description: Returns all monitors belonging to the authenticated user.
      responses:
        "200":
          description: A list of monitors.
          content:
            application/json:
              schema:
                type: object
                required: [monitors]
                properties:
                  monitors:
                    type: array
                    items:
                      $ref: "#/components/schemas/Monitor"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createMonitor
      tags: [Monitors]
      summary: Create a monitor
      description: |
        Creates a new monitor for the authenticated user.

        For **heartbeat** monitors the `target` field is not required; the
        backend will generate a unique `heartbeat_token` that can be used to
        ping the heartbeat endpoint.

        Default values when not specified:
        - `interval_secs`: 300
        - `timeout_secs`: 30
        - `expected_status`: 200
        - `confirmation_count`: 1
        - `ssl_warn_days`: 30
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MonitorCreate"
            examples:
              http_monitor:
                summary: HTTP monitor
                value:
                  name: "Production API"
                  type: "http"
                  target: "https://api.example.com/healthz"
                  interval_secs: 60
                  expected_status: 200
                  alert_contact_ids: [1]
              heartbeat_monitor:
                summary: Heartbeat monitor
                value:
                  name: "Cron Job Heartbeat"
                  type: "heartbeat"
                  interval_secs: 3600
              keyword_monitor:
                summary: Keyword monitor
                value:
                  name: "Homepage keyword check"
                  type: "keyword"
                  target: "https://example.com"
                  keyword: "Welcome"
                  keyword_type: "contains"
      responses:
        "201":
          description: Monitor created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/monitors/{id}:
    get:
      operationId: getMonitor
      tags: [Monitors]
      summary: Get a monitor
      description: Returns a single monitor by ID.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: The requested monitor.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateMonitor
      tags: [Monitors]
      summary: Update a monitor
      description: Updates an existing monitor. Only the fields provided in the request body are changed.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MonitorUpdate"
      responses:
        "200":
          description: Monitor updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteMonitor
      tags: [Monitors]
      summary: Delete a monitor
      description: Permanently deletes a monitor and all its associated check results.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "204":
          description: Monitor deleted successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/pause:
    post:
      operationId: pauseMonitor
      tags: [Monitors]
      summary: Pause a monitor
      description: Pauses an active monitor so it stops performing checks.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor paused.
          content:
            application/json:
              schema:
                type: object
                required: [enabled]
                properties:
                  enabled:
                    type: boolean
                    example: false
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/resume:
    post:
      operationId: resumeMonitor
      tags: [Monitors]
      summary: Resume a monitor
      description: Resumes a paused monitor so it starts performing checks again.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: Monitor resumed.
          content:
            application/json:
              schema:
                type: object
                required: [enabled]
                properties:
                  enabled:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/check:
    post:
      operationId: checkNow
      tags: [Monitors]
      summary: Trigger an immediate check
      description: |
        Schedules the monitor to be checked on the next scheduler tick (within 1 second).
        The check runs through the normal worker pipeline. Poll the results endpoint
        to see the outcome.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "202":
          description: Check queued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "queued"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/reset:
    post:
      operationId: resetMonitorHistory
      tags: [Monitors]
      summary: Reset monitor history
      description: |
        Wipes all check results and alert logs for the monitor and resets its
        state (status=unknown, consecutive_fails=0, last_checked_at=NULL,
        ssl_expiry_at=NULL). Destructive — confirm before calling.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
      responses:
        "200":
          description: History reset.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "reset"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/results:
    get:
      operationId: listCheckResults
      tags: [Monitors]
      summary: List check results
      description: Returns paginated check results for a monitor, ordered by most recent first.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
        - name: limit
          in: query
          description: Maximum number of results to return.
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 1000
            example: 50
        - name: offset
          in: query
          description: Number of results to skip for pagination.
          schema:
            type: integer
            default: 0
            minimum: 0
            example: 0
      responses:
        "200":
          description: A paginated list of check results.
          content:
            application/json:
              schema:
                type: object
                required: [results, total, limit, offset]
                properties:
                  results:
                    type: array
                    items:
                      $ref: "#/components/schemas/CheckResult"
                  total:
                    type: integer
                    description: Total number of results available.
                    example: 1440
                  limit:
                    type: integer
                    description: Maximum results returned per page.
                    example: 50
                  offset:
                    type: integer
                    description: Number of results skipped.
                    example: 0
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/uptime:
    get:
      operationId: getUptime
      tags: [Monitors]
      summary: Get uptime percentage
      description: Returns the uptime percentage for a monitor over a specified number of hours.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
        - name: hours
          in: query
          description: Number of hours to calculate uptime over.
          schema:
            type: integer
            default: 24
            minimum: 1
            example: 24
      responses:
        "200":
          description: Uptime percentage for the specified period.
          content:
            application/json:
              schema:
                type: object
                required: [monitor_id, hours, percentage]
                properties:
                  monitor_id:
                    type: integer
                    description: ID of the monitor.
                    example: 42
                  hours:
                    type: integer
                    description: Number of hours covered.
                    example: 24
                  percentage:
                    type: number
                    format: double
                    description: Uptime percentage (0-100).
                    example: 99.98
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/monitors/{id}/uptime/daily:
    get:
      operationId: getDailyUptime
      tags: [Monitors]
      summary: Get daily uptime
      description: Returns day-by-day uptime data for a monitor over a specified number of days.
      parameters:
        - $ref: "#/components/parameters/MonitorId"
        - name: days
          in: query
          description: Number of days of daily uptime data to return.
          schema:
            type: integer
            default: 90
            minimum: 1
            example: 90
      responses:
        "200":
          description: Daily uptime breakdown.
          content:
            application/json:
              schema:
                type: object
                required: [monitor_id, days, daily]
                properties:
                  monitor_id:
                    type: integer
                    description: ID of the monitor.
                    example: 42
                  days:
                    type: integer
                    description: Number of days covered.
                    example: 90
                  daily:
                    type: array
                    items:
                      $ref: "#/components/schemas/DailyUptime"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------- Alert Contacts ----------
  /api/v1/alert-contacts:
    get:
      operationId: listAlertContacts
      tags: [Alert Contacts]
      summary: List alert contacts
      description: Returns all alert contacts belonging to the authenticated user.
      responses:
        "200":
          description: A list of alert contacts.
          content:
            application/json:
              schema:
                type: object
                required: [contacts]
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: "#/components/schemas/AlertContact"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createAlertContact
      tags: [Alert Contacts]
      summary: Create an alert contact
      description: Creates a new alert contact for the authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertContactCreate"
            examples:
              email:
                summary: Email contact
                value:
                  name: "Ops Team"
                  type: "email"
                  value: "ops@example.com"
              slack:
                summary: Slack webhook
                value:
                  name: "Engineering Slack"
                  type: "slack"
                  value: "https://hooks.slack.com/services/T00/B00/xxx"
              webhook:
                summary: Generic webhook
                value:
                  name: "PagerDuty"
                  type: "webhook"
                  value: "https://events.pagerduty.com/integration/abc/enqueue"
      responses:
        "201":
          description: Alert contact created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/alert-contacts/{id}:
    put:
      operationId: updateAlertContact
      tags: [Alert Contacts]
      summary: Update an alert contact
      description: Updates an existing alert contact. Only the fields provided in the request body are changed.
      parameters:
        - $ref: "#/components/parameters/AlertContactId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AlertContactUpdate"
      responses:
        "200":
          description: Alert contact updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlertContact"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteAlertContact
      tags: [Alert Contacts]
      summary: Delete an alert contact
      description: Permanently deletes an alert contact.
      parameters:
        - $ref: "#/components/parameters/AlertContactId"
      responses:
        "204":
          description: Alert contact deleted successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/alert-contacts/{id}/test:
    post:
      operationId: testAlertContact
      tags: [Alert Contacts]
      summary: Send test alert
      description: |
        Sends a test alert notification to the specified contact. Useful for
        verifying that email, Slack, or webhook integrations are configured
        correctly.
      parameters:
        - $ref: "#/components/parameters/AlertContactId"
      responses:
        "200":
          description: Test alert sent successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "sent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "502":
          description: Test alert delivery failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/alert-contacts/{id}/resend:
    post:
      operationId: resendVerification
      tags: [Alert Contacts]
      summary: Resend verification email
      description: |
        Resends the verification email for an unverified email contact.
        Returns 404 if the contact is already verified or doesn't exist.
      parameters:
        - $ref: "#/components/parameters/AlertContactId"
      responses:
        "200":
          description: Verification email sent.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "sent"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /verify-email/{token}:
    get:
      operationId: verifyEmail
      tags: [Alert Contacts]
      summary: Verify email address
      description: |
        Verifies an email alert contact by token. This is a public endpoint
        accessed by clicking the link in the verification email. Returns an
        HTML confirmation page.
      security: []
      parameters:
        - name: token
          in: path
          required: true
          description: Verification token from the email link.
          schema:
            type: string
      responses:
        "200":
          description: Email verified. Returns HTML confirmation page.
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Invalid or expired verification token.

  # ---------- Status Pages ----------
  /api/v1/status-pages:
    get:
      operationId: listStatusPages
      tags: [Status Pages]
      summary: List status pages
      description: Returns all status pages belonging to the authenticated user.
      responses:
        "200":
          description: A list of status pages.
          content:
            application/json:
              schema:
                type: object
                required: [status_pages]
                properties:
                  status_pages:
                    type: array
                    items:
                      $ref: "#/components/schemas/StatusPage"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createStatusPage
      tags: [Status Pages]
      summary: Create a status page
      description: |
        Creates a new status page for the authenticated user. A unique token is
        generated automatically and used as the public URL path. An optional
        password can be set to restrict access.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatusPageCreate"
      responses:
        "201":
          description: Status page created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/status-pages/{id}:
    get:
      operationId: getStatusPage
      tags: [Status Pages]
      summary: Get a status page
      description: Returns a single status page by ID.
      parameters:
        - $ref: "#/components/parameters/StatusPageId"
      responses:
        "200":
          description: The requested status page.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusPage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    put:
      operationId: updateStatusPage
      tags: [Status Pages]
      summary: Update a status page
      description: |
        Updates an existing status page. Only the fields provided in the request
        body are changed. To set a password, include the password field. To remove
        a password, send an empty string. Omit the field to keep it unchanged.
      parameters:
        - $ref: "#/components/parameters/StatusPageId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StatusPageUpdate"
      responses:
        "200":
          description: Status page updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

    delete:
      operationId: deleteStatusPage
      tags: [Status Pages]
      summary: Delete a status page
      description: Permanently deletes a status page.
      parameters:
        - $ref: "#/components/parameters/StatusPageId"
      responses:
        "204":
          description: Status page deleted successfully.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------- Heartbeat (Public) ----------
  # ---------- API Keys ----------

  /api/v1/api-keys:
    get:
      operationId: listAPIKeys
      tags: [API Keys]
      summary: List API keys
      description: Returns all API keys for the authenticated user. Raw keys are never returned.
      responses:
        "200":
          description: List of API keys.
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/APIKey"
        "401":
          $ref: "#/components/responses/Unauthorized"

    post:
      operationId: createAPIKey
      tags: [API Keys]
      summary: Create API key
      description: |
        Generates a new API key. The raw key is returned in the response and will
        **never be shown again**. Store it securely.

        Use the key as `Authorization: Bearer pong_...` in API requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  description: A descriptive name for the key.
                  example: "CI Pipeline"
      responses:
        "201":
          description: API key created. The raw key is included in this response only.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIKeyCreated"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/api-keys/{id}:
    delete:
      operationId: deleteAPIKey
      tags: [API Keys]
      summary: Delete API key
      description: Permanently revokes an API key. Any requests using this key will immediately fail.
      parameters:
        - $ref: "#/components/parameters/APIKeyId"
      responses:
        "204":
          description: API key deleted.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------- Heartbeat ----------

  /api/v1/heartbeat/{token}:
    get:
      operationId: pingHeartbeatGet
      tags: [Heartbeat]
      summary: Ping a heartbeat monitor (GET)
      description: |
        Records a heartbeat ping for the monitor associated with the given token.
        This endpoint does not require authentication and is intended to be called
        from cron jobs, scripts, or other automated processes.

        If the monitor has a `heartbeat_secret` configured, the request must include
        an `X-Secret` header with the matching value, otherwise returns 401.
      security: []
      parameters:
        - $ref: "#/components/parameters/HeartbeatToken"
        - name: X-Secret
          in: header
          required: false
          description: Required if the heartbeat monitor has a secret configured.
          schema:
            type: string
      responses:
        "200":
          description: Heartbeat recorded successfully.
          content:
            application/json:
              schema:
                type: object
                required: [ok, monitor_id]
                properties:
                  ok:
                    type: boolean
                    example: true
                  monitor_id:
                    type: integer
                    example: 42
        "401":
          description: Secret mismatch. The X-Secret header is missing or does not match.
        "404":
          $ref: "#/components/responses/NotFound"

    post:
      operationId: pingHeartbeatPost
      tags: [Heartbeat]
      summary: Ping a heartbeat monitor (POST)
      description: |
        Records a heartbeat ping for the monitor associated with the given token.
        Behaves identically to the GET variant. This endpoint does not require
        authentication.

        If the monitor has a `heartbeat_secret` configured, the request must include
        an `X-Secret` header with the matching value, otherwise returns 401.
      security: []
      parameters:
        - $ref: "#/components/parameters/HeartbeatToken"
        - name: X-Secret
          in: header
          required: false
          description: Required if the heartbeat monitor has a secret configured.
          schema:
            type: string
      responses:
        "200":
          description: Heartbeat recorded successfully.
          content:
            application/json:
              schema:
                type: object
                required: [ok, monitor_id]
                properties:
                  ok:
                    type: boolean
                    example: true
                  monitor_id:
                    type: integer
                    example: 42
        "401":
          description: Secret mismatch. The X-Secret header is missing or does not match.
        "404":
          $ref: "#/components/responses/NotFound"

  # ---------- Public Status Page ----------
  /status/{token}:
    get:
      operationId: getPublicStatusPage
      tags: [Status Pages]
      summary: View public status page
      description: |
        Returns an HTML status page for public viewing. If the page is password
        protected, returns a password form instead. No authentication required.
      security: []
      parameters:
        - $ref: "#/components/parameters/StatusPageToken"
      responses:
        "200":
          description: HTML status page or password form.
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Status page not found.

    post:
      operationId: submitStatusPagePassword
      tags: [Status Pages]
      summary: Submit password for protected status page
      description: |
        Submits the password for a protected status page. On success, sets a
        session cookie and redirects to the GET endpoint. On failure, re-renders
        the password form with an error message.
      security: []
      parameters:
        - $ref: "#/components/parameters/StatusPageToken"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
      responses:
        "303":
          description: Password correct. Redirects to the status page with a session cookie.
        "200":
          description: Wrong password. Re-renders the password form with an error.
          content:
            text/html:
              schema:
                type: string
        "404":
          description: Status page not found.

  # ---------- Admin ----------
  /api/v1/admin/stats:
    get:
      operationId: getAdminStats
      tags: [Admin]
      summary: Platform statistics
      description: Returns total users, monitors, active monitors, and waitlist count. Requires admin role.
      responses:
        "200":
          description: Platform stats.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_users:
                    type: integer
                  total_monitors:
                    type: integer
                  active_monitors:
                    type: integer
                  waitlist_count:
                    type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found (non-admin users receive 404).

  /api/v1/admin/users:
    get:
      operationId: listAdminUsers
      tags: [Admin]
      summary: List all users
      description: Returns all registered users with their plan and admin status. Requires admin role.
      responses:
        "200":
          description: List of users.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        oauth_sub:
                          type: string
                        email:
                          type: string
                        is_admin:
                          type: boolean
                        plan:
                          type: string
                          enum: [free, pro, business, selfhosted]
                        total_monitors:
                          type: integer
                          description: Total number of monitors owned by this user.
                        active_monitors:
                          type: integer
                          description: Number of enabled monitors.
                        created_at:
                          type: string
                          format: date-time
                        updated_at:
                          type: string
                          format: date-time
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found (non-admin users).

  /api/v1/admin/users/{id}/plan:
    put:
      operationId: setUserPlan
      tags: [Admin]
      summary: Change user plan
      description: Updates a user's subscription plan. Requires admin role.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [plan]
              properties:
                plan:
                  type: string
                  enum: [free, pro, business, selfhosted]
      responses:
        "200":
          description: Plan updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/admin/waitlist:
    get:
      operationId: getAdminWaitlist
      tags: [Admin]
      summary: List waitlist entries
      description: Returns all waitlist email signups. Requires admin role.
      responses:
        "200":
          description: Waitlist entries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  waitlist:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        email:
                          type: string
                        created_at:
                          type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found (non-admin users).
